/* Controles das abas */
.tab-controls {
    border-top: var(--border-style);
    width: calc(100% - 38.2%);
    gap: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Input de radio escondido */
.tab-controls input[type=radio] {
    display: none;
}

/* Labels dos controles das abas */
.tab-controls label {
    padding: 10px;
    cursor: pointer;
    margin-top: -1px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--light-gray);
    font-size: .7rem;
}

/* Aba selecionada */
.tab-controls input[type=radio]:checked+.tab-controls-label {
    border-top: 1px solid #1e1e1e;
    color: var(--black);
    font-weight: 400;
    font-size: .8rem;
}

.tab-controls input[type=radio]:checked+.tab-controls-label .tab-icon {
    display: none;
}

.tab-controls input[type=radio]:checked+.tab-controls-label .icon-hover {
    display: block;
}


/* Ícones das abas */
.tab-icon {
    width: 1.2rem;
    margin-right: .6rem;
}

.icon-hover {
    display: none;
}