/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 5px;
    /* Largura da barra de rolagem */
    height: 5px;
    /* Altura da barra de rolagem (horizontal) */
    background-color: rgba(18, 18, 18, 0.226);
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: rgba(245, 245, 245, 0.5);
    /* Fundo com 50% de transparência */
    border-radius: 10px;
    /* Cantos arredondados */
}

/* Pega da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: rgba(18, 18, 18, 0.5);
    /* Pega com 50% de transparência */
    border-radius: 10px;
    /* Cantos arredondados */
}

/* Pega da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(202, 4, 4, 0.5);
    /* Pega ao passar o mouse com 50% de transparência */
}

::-webkit-scrollbar:horizontal {
    display: none;
}