@import url('https://fonts.googleapis.com/css2?family=Koulen&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before {
        margin: 0;
        border: 0;
        box-sizing: border-box;
}


html,
body {
        height: 100vh;
}

body {
        background-color: #2b2b35;
        color: #f5f5f5;
}

.wrapper {
        display: flex;
        align-items: center;
        height: 100%;

}

.slide-wrapper { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 100%;
}

.slide-list {
        display: flex;
        

}

.slide-item {
        flex-shrink: 0;
        /*impede que altere o tamanho do elemento*/
        padding: 0 10px;
        width: 90vw;
        cursor: grab;
}

.slide-content {
        border: 1px solid #f5f5f5;
        position: relative;
        border-radius: 10px;
        box-shadow: 4px 4px 4px #000;

}

.slide-img {
        width: 100%;
        border-radius: 10px;
}

.slide-description {
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, #000, transparent);
        width: 100%;
        padding: 20px;
        border-radius: 10px;
}

.slide-description h3 {
        font-family: "Koulen", serif;
        font-size: 48px;
        position: relative;
        top: 16px;
}

.slide-description p {
        font-family: "PT Sans", serif;
        font-size: 24px;
}

.slide-nav-button {
        background: transparent;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 25px;
        position: absolute;
        z-index: 11;
        margin-top: -20px;

}

.slide-nav-prev {
        left: 10px;
}

.slide-nav-next {
        right: 10px;

}

.slide-controls {
        margin: 20px auto 0;
}

.slide-control-button {
        width: 8px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #f5f5f5;
        padding: 0;
        margin: 4px;
        cursor: pointer;

}

.slide-control-button.active {
        background-color: #353535;

}

@media screen and (max-width: 768px) {
        .slide-description p {
                display: none;
        }

        .slide-description h3 {
                font-size: 24px;
        }

        .slide-control-button {
                font-size: 9px;
        }
}